:root {
  --color-text: #0f0f10; 
  --color-bg: #e1e1e1; 
  --color-primary: #0d59e7;
  --color-hover: #b6b6b6;
}

html {
  font-size: 10px;
}

body {
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.canvas {
  background-color: #152233;
  touch-action: none;
  position: relative;
  max-width: none;
}

/* Controls Styling */ 
.controls {
  z-index: 1;
  position: absolute;
  right: 5%;
  top: 2%;
  display: flex;
  flex-direction: column;
  max-width: min-content;
  gap: 1rem;
  padding: 10px 5px;
}

.controls > .btn {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  background-color: var(--color-bg);
  color: var(--color-text);
  min-width: max-content;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-hover);
}

.btn.btn-primary {
  background-color: #0d59e7;
  color: #e1e1e1;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: #1c50b2;
}

.btn.btn-danger {
  background-color: #f7333e;
  color: #e1e1e1;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
  background-color: #e2111d;
}